<!DOCTYPE html>
    <html>
    <head>
        <title>Datos ESP32</title>
        <meta http-equiv="refresh" content="5"> <!-- refresca cada 5 seg -->
    </head>
    <body>
        <h2>Datos recibidos desde ESP32</h2>
        <table>
            <tr>
                <th>#</th>
                <th>Temperatura</th>
                <th>Humedad</th>
            </tr>
            {% for i, d in enumerate(datos) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ d.get('temp', d) }}</td>
                <td>{{ d.get('hum', '-') }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    </html>